@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+NZ+Basic:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
   font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
   margin: 3rem 4rem;

}
.black-color-primary{
color: rgba(58, 58, 58, 1);
}
.font-awesome-primary{
    color: rgba(0, 0, 0, 1);
}
.nav-header{

font-size: 24px;
font-weight: 700;

}

.nav-items{
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-link{
   display: flex;
   align-items: center;
   justify-items: center;
   gap: 34px;

}
.nav-link li{
    list-style: none;
}
.nav-link >li>a{
    text-decoration: none;
}
.list-name{
font-size: 16px;
font-weight: 600;

}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 80px;

}
.banner-title{
font-size: 52px;
font-weight: 700;

}
.banner-img{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
}